.list-group {
  max-height: 100vh;
  margin-bottom: 10px;
  overflow: scroll;
}

.navlink:hover {
  text-decoration: none;
  background-color: #9ac9ff;
  color: white;
}

.active li {
  color: white;
}

